<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deloran Monitoring System</title>
    <script type="text/javascript" th:src="@{/js/node_modules/chart.js/dist/chart.umd.js}"></script>
    <link rel="stylesheet" th:href="@{/css/output.css}" >
    <link rel="stylesheet" th:href="@{/css/basic.css}" >

    <script  th:src="@{/js/node_modules/jquery/jquery.min.js}"></script>
    <script  th:src="@{/js/node_modules/datatables.net/dataTables.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/node_modules/datatables.net-dt/css/dataTables.dataTables.min.css}">


    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0;
            margin-top: 10px;
            display: inline-block;
        }
    </style>
</head>

<body class="bg-gray-100 grid">

<div class="navbar mb-20 " id="navbar">
    <div class="navbar-content">
        <div class="navbar-title">Monitoring System</div>
        <div class="navbar-links">
            <a th:href="@{/index}">Home</a>
            <a th:href="@{/realtime}">Realtime Graph</a>
            <a th:href="@{/log}">Event Log</a>
        </div>
    </div>
</div>


<div class="container ">

</div>



<div class="w-11/12 p-5 m-10 justify-self-center rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">

    <table id="packet_table" class="table-auto text-center w-full border-separate rounded" data-currentpage="1">
        <thead class="font-mono bg-slate-600 text-white">

        <tr>
            <th class="m-6 p-2"> Packet received at:</th>
            <th class="m-6 p-2"> Type</th>
            <th class="m-6 p-2"> Payload</th>
        </tr>
        </thead>

    </table>



</div>


<script type="application/javascript" th:src="@{js/aux.js}"></script>
<script type="application/javascript" th:src="@{js/log.js}"></script>

</body>

</html>