# -----------------------------------------------------------------------------
# Secrets
# -----------------------------------------------------------------------------
# Do NOT commit your secrets file(s)
src/fan-guard/secrets.h
secrets.h