#pragma once
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define MQTT_SERVER "YOUR_MQTT_BROKER"
#define MQTT_PORT 1883
const char* CA_CERT = R"EOF(
    -----BEGIN CERTIFICATE-----

    -----END CERTIFICATE-----
)EOF";